body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5EBEB;
    
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    margin: 0 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0056b3;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}
.colorwheel {
    width: 750px;
    margin: 20px;
    background-color: #867070;
    padding: 20px;
}
.levels {
    width: 750px;
    margin: 20px;
    background-color: #867070;
    padding: 20px;
}
.hairimg {
    width: 750px;
    height: 800px;
    margin: 20px;
    background-color: #867070;
    padding: 20px;
    
}
.boxed-section {
    border: 2px solid #b51b5c;
    box-shadow: 0 0 30px ;
    display: inline-block;
    padding: 10px; 
    margin-bottom: 10px; 
    text-align: left;
    
}
/* Adding color mixer style */
.container {
    background-color: #867070;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 40px #b51b5c;
    text-align: center;
}
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="color"] {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#resultColor {
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}